/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

h1{
    font-size: 60px;
}
/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/mewithelephant.png');
    background-size:cover;
    width:100%;
    height:790px;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* css on project text */
.card-text {
    text-align: center;
}
/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
    padding-bottom: 4rem;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

.card-img-top2 {
    height: 100%;
    width: 100%;
}
/* .card-img-top1 {
	border: 1px solid #555;
} */

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* Getting my sentence to stay on one line */
.single-line {
    white-space: nowrap;
}

/* editing my break between spaces */
.line-break {
    height: 15px; /* Adjust the height as needed */
    width: 100%; /* Ensures it spans the full width of its container */
    clear: both; /* Clears any floats if necessary */
}

.line-break3 {
    height: 30px; /* Adjust the height as needed */
    width: 100%; /* Ensures it spans the full width of its container */
    clear: both; /* Clears any floats if necessary */
}

.line-break1 {
    height: 0px; /* Adjust the height as needed */
    width: 100%; /* Ensures it spans the full width of its container */
    clear: both; /* Clears any floats if necessary */
}

/* Indenting a sentence */
.indented {
    text-indent: 150px; /* Adjust the indent as needed */
}

.indented3 {
    text-indent: 110px; /* Adjust the indent as needed */
}

.text-color {
    color: black;
}

/* positioning 'languages covered' image */
.image-position {
  position: relative;
  top: 20px;
  left: 30px;
}

.image-position1 {
    position: relative;
    left: 0px;
}

/* font change */
h3 {
    font-family: "Arial", sans-serif;
}

.font {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.title-font {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-container {
    display: inline-block;
}

/* Indenting a sentence */
.indented1 {
    text-indent: 45px; /* Adjust the indent as needed */
}

/* Indenting a sentence */
.indented2 {
    text-indent: 125px; /* Adjust the indent as needed */
}

.image-position2 {
    position: relative;
    left: 260px;
}

.color {
    color: #CC5500;
}

.dark-color {
    color: #CC5500;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.line-break2 {
    height: 0px; /* Adjust the height as needed */
    width: 100%; /* Ensures it spans the full width of its container */
    clear: both; /* Clears any floats if necessary */
}

.image-position3 {
    position: relative;
    left: 165px;
}

.image-position4 {
    position: relative;
    left: 400px;
}